/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* variables */
@import url("./variables.css");

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* media for container */
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 90%;
  }
}